{% extends 'front/layout-home.html.twig' %}

{% block body %}
	<div class="header" style="background-image: url({{ renderSiteCover() }});">
		<div class="header__title text-center">
            <h1>
               {{ get_setting('application_name') }}
            </h1>

            <h3>
                {{ get_setting('application_subname') }}
            </h3>
        </div>
	</div>

	<div class="container container--main">
		<div class="tags-container">
			<ul class="tags-list">
				<li>
					<a href="#" class="btn-round active">
						All
					</a>
				</li>

				{% for tag in tags %}
					<li>
						<a href="{{ path('tag_search', { 'tag' : tag }) }}" class="btn-round">
							{{ tag }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="row">
			<div class="col-lg-9 col-xs-12">
				<div class="row grid articles-list">
					{% for article in articles %}
			        	<div class="col-xs-12 col-sm-12 col-md-6 grid-item mb-4 mt-1">
			        		{% include 'front/article/thumb.html.twig' %}
			        	</div>
		        	{% endfor %}
		        </div>

		        {% include 'front/common/pagination.html.twig' %}
			</div>

			<div class="col-lg-3 col-xs-12">
				{% include 'front/common/aside.html.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
