<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <p>
                        {{ get_setting('footer_text')|nl2br }}
                    </p>

                    <ul class="social-footer-list">
                        {% if (null != get_setting('facebook_url')) %}
                            <li>
                                <a href="{{ get_setting('facebook_url') }}" class="fb">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if (null != get_setting('twitter_url')) %}
                            <li>
                                <a href="{{ get_setting('twitter_url') }}" class="tw">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if (null != get_setting('google_url')) %}
                            <li>
                                <a href="{{ get_setting('google_url') }}" class="ggl">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-md-4 mb-4">
                    {{ render(controller('AppBundle:Front/Article:recentArticles', { 'max': 4 })) }}
                </div>

                <div class="col-md-4 mb-4">
                    {{ render(controller('AppBundle:Front/Tags:popular')) }}
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        © {{ get_setting('site_url') }} {{ "now"|date("Y") }} - Tous droits réservés
    </div>
</footer>
