{{ form_start(form, { attr: { class: 'form' } }) }}
    <div class="card-body">
	    {{ form_errors(form) }}

	    <div class="row">
	    	<div class="col-md-6">
				<div class="form-group">
				    {{ form_row(form.name, {
				        label: 'category.form.name',
				        help: 'category.form.name.help',
				        attr: {'class' : 'form-control'}
				    }) }}
			    </div>
			</div>
	    </div>
    </div>

    <div class="card-footer text-right">
    	<a href="{{ url('admin_category_list') }}" class="btn btn-default">
            <i class="fa fa-undo"></i>
            {{ 'admin.form.cancel'|trans }}
        </a>

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check"></i>
            {{ 'admin.form.save'|trans }}
        </button>
    </div>
{{ form_end(form) }}
