<div class="last-articles">
    <h3>Derniers posts</h3>

    <ul>
        {% for article in articles %}
            <li>
                <div class="last-article">
                    {% if null != article.image %}
                        <a href="{{ path('article_show', { 'id' : article.id }) }}" class="last-article__img" style="background-image: url({{ vich_uploader_asset(article, 'imageFile') }})"></a>
                    {% else %}
                        <a href="{{ path('article_show', { 'id' : article.id }) }}" class="last-article__img last-article__img--blank">
                            {{ article.title|first|upper }}
                        </a>
                    {% endif %}

                    <div class="last-article__content">
                        <span class="last-article__content__tags">
                            {% for category in article.categories %}
                                <a href="{{ path('category_search', { 'id' : category.id }) }}" class="">
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </span>

                        <a href="{{ path('article_show', { 'id' : article.id }) }}">
                            <h6>{{ article.title }}</h6>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
