<div class="card">
    {% if null != article.video %}
        <video width="100%" controls class="">
            <source src="{{ vich_uploader_asset(article, 'videoFile') }}">
            Your browser does not support the video tag.
        </video>
    {% elseif null != article.embededVideo %}
        <div class="embeded-video-container">
            {{ article.embededVideo|raw }}
        </div>
    {% elseif article.image %}
        <a href="{{ path('article_show', { 'id' : article.id }) }}">
            <div class="card-img-top" style="background-image: url({{ vich_uploader_asset(article, 'imageFile') }})" data-holder-rendered="true"></div>
        </a>
    {% endif %}

    <div class="card-block">
    	<div class="card-date">
    		{{ article.createdAt|date|localizeddate('full', 'none', app.request.locale ) }}
    	</div>

    	<a href="{{ path('article_show', { 'id' : article.id }) }}" class="card-link">
    		<h4 class="card-title">{{ article.title }}</h4>
    	</a>

    	<div class="card-text">
            {% autoescape %}
                {{ article.content|striptags|truncate(200)|raw|nl2br }}
            {% endautoescape %}

            <a href="{{ path('article_show', { 'id' : article.id }) }}" class="card-comments">
                <i class="far fa-comments"></i> <fb:comments-count href="{{ absolute_url(path('article_show', { 'id' : article.id })) }}"></fb:comments-count>
            </a>
    	</div>

    	{% if article.categories %}
    		<div class="card-tags">
    			<ul>
    				{% for category in article.categories %}
    					<li>
    						<a href="{{ path('category_search', { 'id' : category.id }) }}" class="">
    							{{ category.name }}
    						</a>
    					</li>
    				{% endfor %}
    			</ul>
    		</div>
    	{% endif %}
    </div>
</div>
