{{ form_start(form, { attr: { id: 'cover-form', class: 'form', action: url('cover') } }) }}

<div class="card-body">
    <img src="{{ renderSiteCover() }}" width="100%;" class="mb-3">

    <div class="form-group file-group">
        {{ form_row(form.cover, {
            label: ' ',
            attr: {'class' : 'form-control'}
        }) }}
    </div>
</div>

<div class="card-footer text-right">
    <a href="{{ url('cover_delete') }}" class="btn btn-sm btn-danger">
        <i class="far fa-trash-alt"></i>
    </a>

    <button type="submit" class="btn btn-sm btn-primary">
        <i class="far fa-save"></i>
        {{ 'admin.form.save'|trans }}
    </button>
</div>
{{ form_end(form) }}
