{{ form_start(form, { attr: { id: 'logo-form', class: 'form', action: url('logo') } }) }}

<div class="card-body">
    <h1 class="title-brand">
        {% autoescape false %}
            {{ renderSiteLogo() }}
        {% endautoescape %}
    </h1>

    {{ form_widget(form) }}
</div>

<div class="card-footer text-right">
    <a href="{{ url('logo_delete') }}" class="btn btn-sm btn-danger">
        <i class="fa fa-trash"></i>
        {{ 'admin.logo.delete'|trans }}
    </a>

    <button type="submit" class="btn btn-sm btn-primary">
        <i class="fa fa-check"></i>
        {{ 'admin.form.save'|trans }}
    </button>
</div>
{{ form_end(form) }}
