{% extends 'admin/layout.html.twig' %}

{% block main %}
	<ol class="breadcrumb">
	    <li class="breadcrumb-item">
	        <a href="{{ path('admin_picture_list') }}">Gallerie</a>
	    </li>

	    <li class="breadcrumb-item active">Liste</li>
	</ol>

	<div class="card mb-3">
        <div class="card-header">
          	<i class="fas fa-list-ul"></i> Liste des images

          	<div class="float-right">
          		<a href="{{ path('admin_picture_new') }}" class="btn btn-sm btn-primary">
          			Ajouter <i class="fas fa-plus"></i>
          		</a>
          	</div>
		</div>

        <div class="card-body">
        	<div class="row">
        		{% for picture in pictures %}
	        		<div class="col-xs-12 col-sm-4">
						<div class="card marged--bottom--big">
							<img class="card-img-top" src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('gallery_thumb') }}">

						  	<div class="card-body">
						    	<h5 class="card-title">{{ picture.title }}</h5>
						    	<p class="card-text">{{ picture.content }}</p>
						    	<a href="{{ path('admin_picture_edit', {'id' : picture.id}) }}" class="btn btn-sm btn-primary">
									<i class="far fa-edit"></i>
								</a>
								<a href="{{ path('admin_picture_del', {'id' : picture.id}) }}" class="btn btn-sm btn-danger">
									<i class="far fa-trash-alt"></i>
								</a>
						  	</div>
						</div>
	        		</div>
        		{% endfor %}
        	</div>
        </div>
	</div>
{% endblock %}
